body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin:0px;
}



.container {
  font-size: 3rem;
  margin:0px auto;
  max-width: 1000px;
}

.container-body 
{
  height: calc(100vh - 142.4px);
  overflow-y: scroll;
}